.faq {
  position: relative;

  display: flex;

  &__content {
    flex: 1;
    max-width: 924px;
  }
  &__header {
    // padding-left: 13%;
    margin-bottom: 4rem;
  }
  &__title {
  }
  &__subtitle {
  }
  &__img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    width: 41%;
    height: auto;
    margin: auto;
  }
}

.accordion {
  max-width: 48rem;
  &__item {
    position: relative;

    margin-bottom: 1.5rem;

    border-bottom: 1px solid $Color-Brand-Soft_brand;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
  &__header,
  &__content {
    padding-right: 7%;
  }
  &__header {
    cursor: pointer;

    display: block;
    min-height: 2.5rem;

    color: $Color-Brand-white;
    font: 500 1.25rem / 140% $font-primary;

    transition: margin 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 0.25rem;
      right: 0.5rem;

      display: block;
      width: 0.875rem;
      height: 1rem;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("/assets/media/icons/chevron-left.svg");

      transition: transform 0.3s ease-in-out;
    }
  }

  &__content {
    color: $Color-Brand-Soft_brand;
    font: 400 1.125rem / 133% $font-primary;

    overflow: hidden;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}
.accordion__item {
  &:not(.accordion__item--open) {
    .accordion__content {
      opacity: 0;
      height: 0 !important;
    }
  }
  &--open {
    .accordion {
      &__header {
        margin-bottom: 0.5rem;

        &::after {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

@include desktop {
  $accordion__item-left-padding: 2.5625rem;

  .accordion {
    &__item {
      position: relative;

      margin-left: calc(-1 * #{$accordion__item-left-padding});
      padding: 0 0 2rem $accordion__item-left-padding;
      width: calc(100% + #{$accordion__item-left-padding});
    }
  }
}

@include tablet {
  .faq {
    padding: 4rem 0;
    &__title{
      margin-bottom: 1rem;
    }
    &__img{
      position: static;
      width: auto;
      margin-bottom: 1rem;
    }
  }
  .accordion {
    padding: 0;

    &__item {
      padding: 0 0 2rem;
    }
    &__header,
    &__content {
      padding-right: 2.375rem;
    }
    &__header {
      &::after {
        right: 0;
      }
    }
    &__content {
      font-size: 1rem;
    }
  }
}
