.intro {
  position: relative;

  padding-top: 6.5rem;
  padding-bottom: 3.75rem;

  &__img {
    position: absolute;
    right: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    display: block;
    width: 31%;
    height: auto;
  }

  &__header {
    max-width: 49.25rem;
    margin-bottom: 2.5rem;
  }
  .btn-primary {
  }
  &__plate {
    max-width: 56.125rem;
    padding: 2rem 3rem;
    width: 100%;
    text-align: center;
    margin-top: 7.25rem;

    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(1.125rem);
  }
}

@include tablet {
  .intro {
    padding-top: 1.75rem;

    &__img {
      position: static;
      width: 250px;
      margin: auto;
    }
    &__plate {
      padding: 1rem;
      margin-top: 2.5rem;
    }
    .btn-primary {
      padding: 1.5rem 2rem;
    }
  }
}
